<app-mynav></app-mynav>
<div>
  <div class="container-fluid">
    <h1 class="head">Academics</h1>
    <div class="container-fluid">
      <h3 style="text-align:center; padding-bottom: 1em">Maryville students create and apply knowledge by thinking and doing,<br>preparing for leadership in a rapidly changing world.</h3>
    </div>
  </div>
  <div style="padding-bottom: 2em">
    <img src="assets/maryville-university-academic-1.jpg">
  </div>
  <section class="container-fluid">
    <hr class="border-dark">
    <div class="row">
      <figure class="fig col-md-4">
          <p>1205</p>
          <p style="font-weight: lighter">Faculty Members</p>
      </figure>
      <figure class="fig col-md-4">
        <p>10:1</p>
        <p style="font-weight: lighter">Student-to-Faculty aatio</p>
      </figure>
      <figure class="fig col-md-4">
        <p>50+</p>
        <p style="font-weight: lighter">Graduate fields of study</p>
      </figure>
    </div>
    <hr class="border-dark">
  </section>
  <section>
    <h1 class="head">Undergraduate Studies</h1>
    <div class="card jumbotron cards" style="">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-academic-2.jpg" >
        </div>
        <div class="card-body col-md-6">
          <h3>Undergraduate Education</h3>
          <p>Maryville Undergrad is your guide to undergraduate academics and opportunities run by the Vice Provost for Undergraduate Education.</p><br>
          <h3>Majors</h3>
          <p>Explore the more than 65 major fields of undergraduate study at Maryville.</p>
          <br>
          <h3>Undergraduate Facts &amp; Figures</h3>
          <p>Approximately 7,000 undergraduate students attend Maryville. &nbsp;Learn more about the undergraduate program and student body.</p>
          <br>
        </div>
      </div>
    </div>
    <h1 class="head">Graduate Studies</h1>
    <div class="card jumbotron cards" style="">
      <div class="row">
        <div class="card-body col-md-6">
          <h3>Undergraduate Education</h3>
          <p>Maryville Undergrad is your guide to undergraduate academics and opportunities run by the Vice Provost for Undergraduate Education.</p>
          <p><a class="jump-link" href="http://undergrad.Maryville.edu/">Maryville Undergrad<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
          <h3>Majors</h3>
          <p>Explore the more than 65 major fields of undergraduate study at Maryville.</p>
          <p><a class="jump-link" href="http://majors.Maryville.edu/">Explore Majors<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
          <h3>Undergraduate Facts &amp; Figures</h3>
          <p>Approximately 7,000 undergraduate students attend Maryville. &nbsp;Learn more about the undergraduate program and student body.</p>
          <p><a class="jump-link" href="http://facts.Maryville.edu/academics/undergraduate">Facts about the Undergraduate Program<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
        </div>
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-academic-3.jpg">
        </div>
      </div>
    </div>
  </section>
</div>
<app-inverted-footer></app-inverted-footer>
