<app-spnavbar></app-spnavbar>
<div class="sp-home">
  <div class="container portal-home-container">
    <div class="row">
      <div class="col-md-4">
        <div class="">
          <img src="assets\Images\default_profile_200x200.png" alt="" class="rounded-circle" style="">
        </div>
      </div>
      <div class="col-md-6">
        <h2>Welcome {{uid}}!!!</h2>
        <!-- <table class="table portal-home-table">
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>Milan Lakhani</td>
          </tr>
          <tr>
            <td>College ID</td>
            <td>:</td>
            <td>16CEUOG052</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>:</td>
            <td>Male</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>:</td>
            <td>29.06.1998</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>:</td>
            <td>General</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>:</td>
            <td>29.06.1998</td>
          </tr>
        </table> -->
      </div>

    </div>

  </div>
</div>
<div class="text-center sp-thought">
  <h3>"Expert at anything was once a Begginer"</h3>
</div>
<app-inverted-footer></app-inverted-footer>
