/* You can add global styles to this file, and also import other style files */
.nav1{
  background-color: #c60000;
}
.nav1 a{
  color: white;
}
.nav1 a:hover{
  color: grey;
}
.mary{
  display: inline;
  color: White;
  font-weight: 650;
  float: right;
}
.inmary{
  display: none;
}
.navdiv{
  color: white;
  margin-left: 10%;
}
.navbar-toggler {
  border-color: white;
  background-color: white;
}

@media only screen and (max-width: 500px) {
  .mary{
    display: none;
    font-weight: 650;
    float: right;
  }
  .inmary{
    display: block;
    text-align: center;
  }
}
