<app-mynav></app-mynav>
<div style="background-color:#f9f6ef">
  <div class="container-fluid">
    <h1 class="head">Gateway for Faculty & Staff</h1>
    <div class="container">
      <h3 style="text-align:center;">inks to resources, offices and services that support Maryville</h3>
      <h3 style="text-align:center;padding-bottom: 1em"> faculty and staff</h3>
    </div>
  </div>
  <section class="panel">
    <div class=" row">
        <div class="col-md-4">
          <div class="card info-box">
            <i class="fa fa-envelope align-self-center" style="font-size: 300%"></i>
            <p class="align-self-center">Email & Calander</p>
            <p class="link align-self-center"><a href="#">Lunch Mail</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card info-box">
            <i class="fa fa-cog align-self-center" style="font-size: 300%"></i>
            <p class="align-self-center">Employee Portal</p>
            <p class="link align-self-center"><a href="#">Launch Portal</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card info-box">
            <i class="fa fa-users align-self-center" style="font-size: 300%"></i>
            <p class="align-self-center">Human Resources</p>
            <p class="link align-self-center"><a href="#">Cardinal at Worrk</a></p>
          </div>
        </div>
    </div>
  </section>
  <section>
    <h1 class="head">Academic Resources</h1>
    <div class="card jumbotron cards" style="">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-students-1.jpg" >
        </div>
        <div class="card-body col-md-6">
          <div class="content">
            <h2>Faculty Resources</h2>
            <p>These offices and resources support Maryville faculty across the university.</p>
            <ul class="jump-links">
              <li><a class="jump-link" href="http://facultyaffairs.Maryville.edu/">Faculty Affairs<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="http://doresearch.Maryville.edu/">Research &amp; Scholarship<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="http://facultydevelopment.Maryville.edu/">Development &amp; Diversity<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="http://facultysenate.Maryville.edu/">Faculty Senate<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="http://fingate.Maryville.edu/faculty/">Faculty Financial Activities<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="http://fsh.Maryville.edu/">Faculty Housing<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card jumbotron cards">
      <div class="row">
        <div class="card-body col-md-6">
                <h2>Staff Resources</h2>
                <h3>Administrative resources</h3>
                <p>These administrative offices and resources support Maryville staff in their work.</p>
                <ul class="jump-links">
                  <li><a class="jump-link" href="/about/administration/">Administrative Offices<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="/about/administration/policies/">Administrative Policies<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="http://doresearch.Maryville.edu/">Research Administration<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="http://fingate.Maryville.edu/staff/">Staff Financial Activities<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="https://cardinalatwork.Maryville.edu/welcome-center">New Staff Welcome Center<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                </ul>
                <hr style="visibility: hidden; margin-bottom: 10px;">
                <h3>Career development &amp; training</h3>
                <ul class="jump-links">
                  <li><a class="jump-link" href="https://cardinalatwork.Maryville.edu/learn-grow">Learn and Grow<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="https://cardinalatwork.Maryville.edu/learn-grow/tuition-training-assistance">Educational Assistance Programs<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="https://doresearch.Maryville.edu/training">Research Training<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="http://techtraining.Maryville.edu/">Technology Training<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                  <li><a class="jump-link" href="http://fingate.Maryville.edu/staff/resources/training_cat.html">Financial Activities Training<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                </ul>
        </div>
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-students-2.jpg" style="">
        </div>
      </div>
    </div>
  </section>
</div>
<app-inverted-footer></app-inverted-footer>
