

  <nav class="navbar navbar-expand-lg navbar-light nav1">
    <img src="assets/Images/images.jpg" style="height:60px;width:60px;margin-right:30px" alt="">
    <h5 class="mary">Maryville University</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navdiv">
        <a class="nav-item nav-link" href="#">News <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Campus</a>
        <a class="nav-item nav-link" href="#">Research</a>
        <a class="nav-item nav-link" href="#">Academics</a>
        <a class="nav-item nav-link" href="#">Admission</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
  </nav>
<div class="appcomponent1">
  <app-homecomponent></app-homecomponent>
</div>
