<app-mynav></app-mynav>
<section class="container1-pg1">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center hello">
    <h2 class="pg1-h1">Maryville Today</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center hello">
    <h4 class="pg1-h4">Latest News and Events from Maryville</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="fawsome">
        <i class="fas fa-flask"></i>
      </div>
      <div class="header11">
        <img src="assets/Images/download.jpg" alt="" class="card-img-top">
      </div>

      <div class="contain">
        <h4 style="color: #c60000">Science and Technology</h4>
        <p>Download Bootstrap to get the compiled CSS and JavaScript,
        or include it with your favorite</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="fawsome">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="header11">
        <img src="assets/Images/40064807-finance-wallpapers.jpg" alt="" class="card-img-top">
      </div>

      <div class="contain">
        <h4 style="color: #c60000">Finance and Buisness</h4>
        <p>Download Bootstrap to get the compiled CSS and JavaScript,
        or include it with your favorite</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="fawsome">
        <i class="fas fa-football-ball"></i>
      </div>
      <div class="header11">
        <img src="assets/Images/download (1).jpg" alt="" class="card-img-top">
      </div>

      <div class="contain">
        <h4 style="color: #c60000">Sports</h4>
        <p>Download Bootstrap to get the compiled CSS and JavaScript,
        or include it with your favorite</p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-left: 25%;margin-right:25%">

    <!-- <a href="#" class="btn btn-block pg1-btn1" role="button">More News</a> -->

</div>
</div>
<div class="pg1-line1">

</div>
</section>
<app-inverted-footer></app-inverted-footer>
