<app-mynav></app-mynav>
<div class="card jumbotron cards">
  <h3  class="card-title title">Students</h3>
  <div class="row">
    <div class="col-md-4">
    <img class="card-img" src="assets\Images\maryville-university-services-student.jpg" >
  </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <button class="btn btn-block button" routerLink='/student'>Students</button>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<div class="card jumbotron cards" style="">
  <h3  class="card-title title">Faculty & Staff</h3>
  <div class="row">
    <div class="col-md-4">
      <img class="card-img" src="assets\Images\509782.jpg" >
    </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <button class="btn btn-block button" routerLink='/faculty-staff'>Faculty & Staff</button>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<!--<div class="card jumbotron cards" style="">-->
  <!--<h3  class="card-title title">Card title</h3>-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<img class="card-img" src="assets\Images\509782.jpg" >-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row" style="margin-top: 30px">-->
    <!--<div class="col-md-1">-->
    <!--</div>-->
    <!--<div class="col-md-10">-->
      <!--<button class="btn btn-block button">Student</button>-->
    <!--</div>-->
    <!--<div class="col-md-1">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="card jumbotron cards" style="">-->
  <!--<h3  class="card-title title">Card title</h3>-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<img class="card-img" src="assets\Images\509782.jpg" >-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row" style="margin-top: 30px">-->
    <!--<div class="col-md-1">-->
    <!--</div>-->
    <!--<div class="col-md-10">-->
      <!--<button class="btn btn-block button">Student</button>-->
    <!--</div>-->
    <!--<div class="col-md-1">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<app-inverted-footer></app-inverted-footer>
