<app-spnavbar></app-spnavbar>
<div class="jumbotron downloads-cont">
  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Advanced Technology
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ol>
          <li><a href="src\assets\Docs\Angular Part_4 by PMJ.pdf">Angular</a></li>
          <li><a href="src\assets\Docs\Jasmine introduction.pdf">Jasmine</a></li>
          <li><a href="src\assets\Docs\MongoDB by PMJ.pdf">Angular</a></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ASP .NET
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ol>
          <li><a href="src\assets\Docs\3Tier_MVC-AAM.pptx">3-Tier_MVC</a></li>
          <li><a href="src\assets\Docs\C#_File_IO.pptx">C#-File-IO</a></li>
          <li><a href="src\assets\Docs\FBA.pptx">File Based Authentication</a></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Operating Systems
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <ol>
          <li><a href="src\assets\Docs\Abraham-Silberschatz-Operating-System-Concepts---9th2012.12.pdf">Abraham-Silberschatz-Operating-System-Concepts</a></li>
          <li><a href="src\assets\Docs\Operating_System.pdf">William-Stallings</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
</div>
<app-inverted-footer></app-inverted-footer>
