<app-mynav></app-mynav>
<div style="background-color:#f9f6ef">
  <div class="container-fluid">
    <h1 class="head">A Gateway for Students</h1>
    <div class="container">
      <h3 style="text-align:center;padding-bottom: 1em">Information, resources and links for Maryville students</h3>
    </div>
  </div>
  <section class="panel">
    <div class=" row">
      <div class="col-md-4">
        <div class="card info-box">
          <i class="fa fa-envelope align-self-center" style="font-size: 300%"></i>
          <p class="align-self-center">Email & Calander</p>
          <p class="link align-self-center"><a href="#">Lunch Mail</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card info-box">
          <i class="fa fa-cog align-self-center" style="font-size: 300%"></i>
          <p class="align-self-center">Student Portal</p>
          <p class="link align-self-center"><a routerLink='/login'>Launch Portal</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card info-box">
          <i class="fa fa-book align-self-center" style="font-size: 300%"></i>
          <p class="align-self-center">Course Management</p>
          <p class="link align-self-center"><a href="#">Lunch Canvas</a></p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h1 class="head">Academic Resources</h1>
    <div class="card jumbotron cards" style="">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-students-1.jpg" >
        </div>
        <div class="card-body col-md-6">
            <h3>General resources</h3>
            <p>These academic programs and services are relevant&nbsp;to all Maryville students.</p>
            <ul class="jump-links">
              <li><a class="jump-link" href="#">Maryville Bulletin<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="#">ExploreCourses<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="#">University Registrar<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="#">Libraries<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="#">Accessible Education<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              <li><a class="jump-link" href="#">Maryville Bookstore<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="card jumbotron cards">
      <div class="row">
        <div class="card-body col-md-6">
          <div class="content">
            <div class="content">
              <h3>For Undergraduates</h3>
              <ul class="jump-links">
                <li><a class="jump-link" href="#">Undergraduate Education<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li><a class="jump-link" href="#">Explore Majors<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              </ul>
              <hr style="visibility: hidden; margin-bottom: 10px;">
              <h3>For Graduates</h3>
              <ul class="jump-links">
                <li><a class="jump-link" href="#">Vice Provost for Graduate Education<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li><a class="jump-link" href="#">Graduate Life<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li><a class="jump-link" href="#-">Postdoctoral Affairs<span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-students-2.jpg" style="">
        </div>
      </div>
    </div>
  </section>
</div>
<app-inverted-footer></app-inverted-footer>
