<img  class="card-img img1" src="assets/Images/maincollege.jpg">

<script type="text/javascript">
window.onscroll = function() {myFunction()};
  function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
  document.getElementById("myBar").style.background = "#f9f6ef";
}
</script>




<section class="container1-pg1">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center hello">
    <h2 class="pg1-h1">Maryville Today</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center hello">
    <h4 class="pg1-h4">Latest News and Events from Maryville</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="fawsome">
        <i class="fas fa-flask"></i>
      </div>
      <div class="header11">
        <img src="assets/Images/download.jpg" alt="" class="card-img-top">
      </div>

      <div class="contain">
        <h4 style="color: #c60000">Science and Technology</h4>
        <p>Download Bootstrap to get the compiled CSS and JavaScript,
        or include it with your favorite</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="fawsome">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="header11">
        <img src="assets/Images/40064807-finance-wallpapers.jpg" alt="" class="card-img-top">
      </div>

      <div class="contain">
        <h4 style="color: #c60000">Finance and Buisness</h4>
        <p>Download Bootstrap to get the compiled CSS and JavaScript,
        or include it with your favorite</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="fawsome">
        <i class="fas fa-football-ball"></i>
      </div>
      <div class="header11">
        <img src="assets/Images/download (1).jpg" alt="" class="card-img-top">
      </div>

      <div class="contain">
        <h4 style="color: #c60000">Sports</h4>
        <p>Download Bootstrap to get the compiled CSS and JavaScript,
        or include it with your favorite</p>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-left: 25%;margin-right:25%">

    <a href="#" class="btn btn-block pg1-btn1" role="button">More News</a>

</div>
</div>
<div class="pg1-line1">

</div>
</section>




<section class="container2-pg1">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center hello">
    <h2 class="pg1-h1">Maryville Events</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center hello">
    <h4 class="pg1-h4">Upcoming Events in Maryville University</h4>
  </div>
</div>
</div>

<div class="timeline">
<div class="container1 left">
<div class="content">
  <h2>2017</h2>
  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
</div>
</div>
<div class="container1 right">
<div class="content">
  <h2>2016</h2>
  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
</div>
</div>
<div class="container1 left">
<div class="content">
  <h2>2015</h2>
  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
</div>
</div>
<div class="container1 right">
<div class="content">
  <h2>2012</h2>
  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
</div>
</div>
<div class="container1 left">
<div class="content">
  <h2>2011</h2>
  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
</div>
</div>
<div class="container1 right">
<div class="content">
  <h2>2007</h2>
  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
</div>
</div>
</div>
<div class="row" style="margin-left: 25%;margin-right:25%">

<a href="#" class="btn btn-block pg1-btn1" role="button">More Upcoming Events</a>

</div>
</section>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
for (i = 0; i < slides.length; i++) {
   slides[i].style.display = "none";
}
slideIndex++;
if (slideIndex > slides.length) {slideIndex = 1}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace("active1", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += "active1";
setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>




<section class="container3-pg1">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center hello">
    <h2 class="pg1-h1">Bountiful Campus</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center hello">
    <h4 class="pg1-h4">See what's inside our Campus</h4>
  </div>
</div>
</div>
</section>


<div class="slideshow-container">

<div class="mySlides fade">
<div class="numbertext">1 / 3</div>
<img src="assets/Images/alexis-brown-82988-unsplash.jpg" style="width:100%">
<div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
<div class="numbertext">2 / 3</div>
<img src="assets/Images/jj-jordan-252854-unsplash.jpg" style="width:100%">
<div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
<div class="numbertext">3 / 3</div>
<img src="assets/Images/delfi-de-la-rua-140752-unsplash.jpg" style="width:100%">
<div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
</div>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
  slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
  dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
</script>
