<app-mynav></app-mynav>
<div>
  <div class="container-fluid">
    <h1 class="head">Admission</h1>
    <div class="container-fluid">
      <h3 style="text-align:center; padding-bottom: 1em">Maryville students come from across the U.S. and the world,<br> representing diverse experiences,<br> backgrounds and cultures.</h3>
    </div>
  </div>
  <div style="padding-bottom: 2em">
    <img class="card-img" src="assets/Images/maryville-university-admission-1.jpg">
  </div>
  <section class="container-fluid">
    <hr class="border-dark">
    <div class="row">
      <figure class="fig col-md-4">
        <p>8,570</p>
        <p style="font-weight: lighter">Undergraduate Students</p>
      </figure>
      <figure class="fig col-md-4">
        <p>Class of 2021</p>
        <p style="font-weight: lighter">from 76 countries + all 50 states</p>
      </figure>
      <figure class="fig col-md-4">
        <p>12,875</p>
        <p style="font-weight: lighter">Graduate Students</p>
      </figure>
    </div>
    <hr class="border-dark">
  </section>
  <section>
    <h1 class="head">Undergraduate Admission</h1>
    <div class="card jumbotron cards" style="">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-admission-2.jpg" >
        </div>
        <div class="card-body col-md-6">
            <h3>Admission</h3>
            <p>A freshman class of about 1,700 students and a transfer class of about 30 students are admitted each year. Maryville reviews each applicant with an eye to academic excellence, intellectual vitality and personal context.</p>
            <p><a class="jump-link" href="http://admission.Maryville.edu/">Undergraduate Admission<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
            <h3>Profile of the Class of 2021</h3>
            <p>A snapshot of the current freshman class.</p>
            <p><a class="jump-link" href="http://facts.Maryville.edu/academics/freshmen-class-profile">Class of 2021<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
        </div>
      </div>
    </div>
    <h1 class="head">Graduate Admission</h1>
    <div class="card jumbotron cards">
      <div class="row">
        <div class="card-body col-md-6">
          <div class="content">
            <h3>Admission</h3>
            <p>More than 65 departments and programs offer graduate and professional degrees at Maryville. Admission requirements vary greatly among them.</p>
            <p><a class="jump-link" href="http://gradadmissions.Maryville.edu/">Graduate Admissions<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
            <h3>Vice Provost for Graduate Education</h3>
            <p>The Office of the Vice Provost for Graduate Education offers information for prospective students of the nearly 100 departments and programs offering graduate degrees.</p>
            <p><a class="jump-link" href="https://vpge.Maryville.edu/gateways/prospective-students">VPGE Information for Prospective Students<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>


              <h3>Admission</h3>
              <p>More than 65 departments and programs offer graduate and professional degrees at Maryville. Admission requirements vary greatly among them.</p>
              <p><a class="jump-link" href="http://gradadmissions.Maryville.edu/">Graduate Admissions<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
              <h3>Vice Provost for Graduate Education</h3>
              <p>The Office of the Vice Provost for Graduate Education offers information for prospective students of the nearly 100 departments and programs offering graduate degrees.</p>
              <p><a class="jump-link" href="https://vpge.Maryville.edu/gateways/prospective-students">VPGE Information for Prospective Students<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
          </div>
        </div>
        <div class="col-md-6">
          <img class="card-img" src="assets/Images/maryville-university-admission-3.jpg" style="">
        </div>
      </div>
    </div>
    <section style="background-color: ">
      <div class="fig" style="padding-bottom: 1em">
        <h2 class="font-weight-bold">Financial Aid</h2>
        <p>Maryville is committed to making a world-class education affordable.</p>
      </div>
      <section class="panel" data-type="facts" data-width="full" data-posts-per-row="2">

        <div class="panel">
          <div class="row">
            <figure class="fig col-md-6">
              <strong>About 80%</strong>
              <p style="font-weight: normal">of all students receive financial aid</p>
            </figure>
            <figure class="fig col-md-6">
              <strong>Free tuition</strong>
              <p style="font-weight: normal">-for undergrads with family incomes below $125,000</p>
            </figure>
          </div>
          <div class="row">
            <figure class="fig col-md-6">
              <strong>Free tuition, room &amp; board</strong>
              <p style="font-weight: normal">for undergrads with family incomes below $65,000</p>
            </figure>
            <figure class="fig col-md-6">
              <strong>Graduate aid available</strong>
              <p style="font-weight: normal">based on available funds and academic merit</p>
            </figure>
          </div>
        </div>
      </section><!-- panel Financial Aid Facts -->
    </section>
  </section>
</div>
<app-inverted-footer></app-inverted-footer>
